/* The side navigation menu */
.sidenav {
  top: 100%; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  z-index: 9999; /* Stay on top */
  bottom: 0;
  left: 0;
  background-color: #304C63; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #F28163;
  display: block;
  transition: 0.3s;
  font-family: 'Futura', sans-serif;
  text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.button {
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(100% - 75px);
  left: calc(50% - 50px);
  background-color: #304C63;
  z-index: 9998;
  line-height: 100px;
  text-align: center;
  color: #F28163;
  border-radius: 25px;
  font-family: 'Futura', sans-serif;
  margin: auto;
}

.hamburger {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.tab {
  margin: auto;
  width: 35px;
  transform: translate(0%, -50%);
}
